<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="table_Mainconatiner">
			<div class="table_SubConatiner">
				<!-- <%- card 1--------------------------------------------------------------------------------- %>  -->
				<div class="table_cardConatiner">
					<div class="section1">
						<div class="card_Name">
							<h2>JavaScript frontend Entwickler/Developer(m/w/d)</h2>
							<p>Req ID: 00956764</p>
						</div>
						<div class="location_Col">
							<h3>Loction</h3>
							<p>Shimoga,IN</p>
						</div>
					</div>
					<div class="section2">
						<div class="posted_date">
							<h3>Posted</h3>
							<p>04/09/2021</p>
						</div>
						<div class="buttons">
							<button class="apply" id="btn">Apply Now</button>
							<button class="refer" id="btn">Refer</button>
						</div>
					</div>
				</div>
				<!-- <%- card 2--------------------------------------------------------------------------------- %>  -->
				<div class="table_cardConatiner">
					<div class="section1">
						<div class="card_Name">
							<h2>JavaScript frontend Entwickler/Developer(m/w/d)</h2>
							<p>Req ID: 00956764</p>
						</div>
						<div class="location_Col">
							<h3>Loction</h3>
							<p>Shimoga,IN</p>
						</div>
					</div>
					<div class="section2">
						<div class="posted_date">
							<h3>Posted</h3>
							<p>04/09/2021</p>
						</div>
						<div class="buttons">
							<button class="apply" id="btn">Apply Now</button>
							<button class="refer" id="btn">Refer</button>
						</div>
					</div>
				</div>
				<!-- <%- card 3--------------------------------------------------------------------------------- %>  -->
				<div class="table_cardConatiner">
					<div class="section1">
						<div class="card_Name">
							<h2>JavaScript frontend Entwickler/Developer(m/w/d)</h2>
							<p>Req ID: 00956764</p>
						</div>
						<div class="location_Col">
							<h3>Loction</h3>
							<p>Shimoga,IN</p>
						</div>
					</div>
					<div class="section2">
						<div class="posted_date">
							<h3>Posted</h3>
							<p>04/09/2021</p>
						</div>
						<div class="buttons">
							<button class="apply" id="btn">Apply Now</button>
							<button class="refer" id="btn">Refer</button>
						</div>
					</div>
				</div>
				<!-- <%- card 4--------------------------------------------------------------------------------- %>  -->

				<div class="table_cardConatiner">
					<div class="section1">
						<div class="card_Name">
							<h2>JavaScript frontend Entwickler/Developer(m/w/d)</h2>
							<p>Req ID: 00956764</p>
						</div>
						<div class="location_Col">
							<h3>Loction</h3>
							<p>Shimoga,IN</p>
						</div>
					</div>
					<div class="section2">
						<div class="posted_date">
							<h3>Posted</h3>
							<p>04/09/2021</p>
						</div>
						<div class="buttons">
							<button class="apply" id="btn">Apply Now</button>
							<button class="refer" id="btn">Refer</button>
						</div>
					</div>
				</div>
				<!-- <%- card 5--------------------------------------------------------------------------------- %>  -->
				<div class="table_cardConatiner">
					<div class="section1">
						<div class="card_Name">
							<h2>JavaScript frontend Entwickler/Developer(m/w/d)</h2>
							<p>Req ID: 00956764</p>
						</div>
						<div class="location_Col">
							<h3>Loction : </h3>
							<p>Shimoga,IN</p>
						</div>
					</div>
					<div class="section2">
						<div class="posted_date">
							<h3>Posted</h3>
							<p>04/09/2021</p>
						</div>
						<div class="buttons">
							<button class="apply" id="btn">Apply Now</button>
							<button class="refer" id="btn">Refer</button>
						</div>
					</div>
				</div>
				<!-- card4------------------------------ -->
			</div>
		</div>
	</body>
</html>
